@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Great+Vibes&family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.marck-script-regular {
    font-family: "Marck Script", cursive;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Bad Script", cursive;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    background:
        linear-gradient(rgba(255, 255, 255, 0.828),
            rgba(255, 255, 255, 0.181)),
        url('../images/tulips-desktop.jpg') no-repeat center center fixed;
    background-size: cover;
    /* makes image cover whole screen */
    color: #333333;
}

.mobile-background {
    display: none;
}

.container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background: #ffffff83;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    /* added because of stars*/
    position: relative;
    z-index: 1;
}

.puh-img {
    display: block;
    margin: 0 auto;
    width: 350px;
}

.invitation {
    margin-bottom: 10px;
    font-size: 3.5rem;
    text-align: center;
    color: #484848;
}

h1 {
    margin-top: 5px;
    font-size: 3rem;
    text-align: center;
    color: #e27d60;
}

p {
    width: auto;
    padding: 0px 25px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.6;
    text-align: center;
}

.details {
    text-align: center;
    margin: 1.5rem 0;
    font-weight: 600;
    color: #000000;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.8;
}

.details-date {
    margin-top: 50px;
    margin-bottom: 25px;
    font-size: 2.5rem;
    color: #ee6b8f;

}

.details-locations {
    margin-top: 0px;
}

.details-locations b {
    font-size: 2.5rem;
    color: #ee6b8f;
}

.details-locations br {
    margin-bottom: 50px;
}


.gifts {
    display: block;
    margin: 2rem auto;
    max-width: 700px;
}

.gift-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 1rem;
    margin-bottom: 0.5rem;
    border: 1px solid #dddddd;
    border-radius: 8px;
    background: #fafafa;
    font-size: 1.1rem;
    margin: 10px auto;
}

.gifts h2 {
    text-align: center;
    margin-bottom: auto;
}

.gifts p {
    margin-top: 10px;
}


.gift-item button {
    font-family: "Montserrat", sans-serif;
    background-color: #e27d60;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

}

.gift-item button:hover {
    background-color: #983e2a;
}

.gift-item button {
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: none;
    background-color: #d66b52;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
}

.gift-item button.selected {
    background-color: #00a43c;
    color: #ffffff;
}

.gift-item button.reserved {
    background-color: #999;
    color: #444;
    cursor: not-allowed;
}


.attendence-form {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 3rem;
}

.attendence-form h2 {
    margin-bottom: auto;
    font-size: 1.6rem;
}

.attendence-form p {
    margin-bottom: 10px;
    margin-top: auto;
    font-size: 1.6rem;
}

.attendence-form input::placeholder {
    font-family: "Bad Script", cursive;
    font-size: 1.2rem;
    font-weight: 500;
}

.attendence-form select {
    font-family: "Bad Script", cursive;
    font-weight: 500;
    font-size: 1.1rem;
}

input[type="text"] {
    padding: 0.7rem;
    border: 1px solid #cccccc;
    border-radius: 6px;
    font-size: 1rem;
}

select,
button.submit-btn {
    padding: 0.7rem;
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #cccccc;
}

button.submit-btn {
    font-family: "Montserrat", sans-serif;
    background-color: #ee6b8f;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button.submit-btn:hover {
    background-color: #bc4c6a;
}



#message-container {
    margin: auto;
    max-width: 653px;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    font-weight: bold;
    text-align: center;
}

#message-container.success {
    background-color: #d4edda;
    color: #155724;
}

#message-container.error {
    background-color: #f8d7da;
    color: #721c24;
}





/* Stars overlay */
.foreground-stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
}

/* Individual star */
.star {
    position: absolute;
    top: -30px;
    width: 25px;
    height: 25px;
    background-image: url('../images/tulip-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.9;
    animation: fall linear infinite;
}

/* Different positions + speeds */
.star:nth-child(1) {
    left: 5%;
    animation-duration: 3s;
}

.star:nth-child(2) {
    left: 15%;
    animation-duration: 4s;
}

.star:nth-child(3) {
    left: 25%;
    animation-duration: 2.5s;
}

.star:nth-child(4) {
    left: 35%;
    animation-duration: 3.5s;
}

.star:nth-child(5) {
    left: 45%;
    animation-duration: 4.2s;
}

.star:nth-child(6) {
    left: 55%;
    animation-duration: 3.2s;
}

.star:nth-child(7) {
    left: 65%;
    animation-duration: 2.8s;
}

.star:nth-child(8) {
    left: 75%;
    animation-duration: 3.8s;
}

.star:nth-child(9) {
    left: 85%;
    animation-duration: 4.5s;
}

.star:nth-child(10) {
    left: 95%;
    animation-duration: 3.6s;
}

.star:nth-child(11) {
    left: 12%;
    animation-duration: 4.8s;
}

.star:nth-child(12) {
    left: 32%;
    animation-duration: 3.1s;
}

.star:nth-child(13) {
    left: 52%;
    animation-duration: 4.1s;
}

.star:nth-child(14) {
    left: 72%;
    animation-duration: 2.9s;
}

.star:nth-child(15) {
    left: 92%;
    animation-duration: 3.9s;
}

/* Falling animation */
@keyframes fall {
    from {
        transform: translateY(-20px);
        opacity: 1;
    }

    to {
        transform: translateY(120vh);
        opacity: 0;
    }
}


.google-maps {
    margin: 20px;
    max-width: 700px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px #e0e0e0;
    overflow: hidden;
    aspect-ratio: 16 / 9;
}

.google-maps iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

@media (max-width: 440px) {

    body {
        background: none;
        /* махаме desktop фона */
    }

    .puh-img {
        width: 275px;
    }

    .container {
        background: #ffffffcc;
    }

    .mobile-background {
        display: block;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: auto;
        max-height: 100vh;
        object-fit: cover;
        z-index: -1;
        pointer-events: none;
    }

    h1 {
        font-size: 2.2rem;
    }

    p {
        font-size: 1.6rem;
        padding: 0px 10px;
    }



    .details-date {
        font-size: 2.2rem;

    }

    .details-locations b {
        font-size: 2.2rem;
    }

    .google-maps {
        max-width: 100%;
        height: 350px;
        margin: 20px auto;
    }

    .attendence-form {
        width: 100%;
        margin: auto;
    }

    .gift-item {
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
    }
}


@media (max-width: 1024px) {

    body {
        background:
            linear-gradient(rgba(255, 255, 255, 0.828),
                rgba(255, 255, 255, 0.181)),
            url('../images/tulips-desktop.jpg') no-repeat center center fixed;
        display: block;
        object-fit: cover;
    }
}